In [29]:
import os

import pandas as pd
import numpy as np
import matplotlib as mlt
import glob

path = r'northern-il/csv'                     # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

    
df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=False, keys=all_files)

concatenated_df.to_csv('northern_il.csv')

In [30]:
path2 = r'eastern-mo/csv'                     # use your path
all_files2 = glob.glob(os.path.join(path2, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

    
df_from_each_file2 = (pd.read_csv(f) for f in all_files2)
concatenated_df2   = pd.concat(df_from_each_file2, ignore_index=False, keys=all_files2)

concatenated_df2.describe()
#concatenated_df2.to_csv('eastern-mo.csv')

,cs_caseid,cs_case_restriction,lead_caseid,cs_def_num,cs_term_digit,party_def_num,loc_date_start,loc_date_end
count,1489.000000,0.0,1489.000000,1489.000000,1489.000000,1489.000000,0.0,0.0
mean,137875.724647,NaN,137806.482203,1.498993,4.644056,1.498993,NaN,NaN
std,10008.720590,NaN,9977.601873,2.758205,2.828825,2.758205,NaN,NaN
min,49535.000000,NaN,49534.000000,1.000000,0.000000,1.000000,NaN,NaN
25%,129537.000000,NaN,129534.000000,1.000000,2.000000,1.000000,NaN,NaN
50%,139740.000000,NaN,139739.000000,1.000000,5.000000,1.000000,NaN,NaN
75%,145493.000000,NaN,145467.000000,1.000000,7.000000,1.000000,NaN,NaN
max,153772.000000,NaN,153771.000000,41.000000,9.000000,41.000000,NaN,NaN

In [31]:
path3 = r'maryland/csv'                     # use your path
all_files3 = glob.glob(os.path.join(path3, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

    
df_from_each_file3 = (pd.read_csv(f) for f in all_files3)
concatenated_df3   = pd.concat(df_from_each_file3, ignore_index=False, keys=all_files3)

concatenated_df3.describe()
#concatenated_df3.to_csv('maryland.csv')

,cs_caseid,cs_case_restriction,lead_caseid,ref_judge_name,cs_def_num,cs_term_digit,party_def_num,loc_date_start,loc_date_end
count,1548.000000,0.0,1548.000000,0.0,1548.000000,1548.000000,1548.000000,0.0,0.0
mean,289203.698966,NaN,288454.782300,NaN,1.581395,4.500000,1.581395,NaN,NaN
std,58785.779941,NaN,58722.893551,NaN,1.954020,2.919852,1.954020,NaN,NaN
min,137769.000000,NaN,137768.000000,NaN,1.000000,0.000000,1.000000,NaN,NaN
25%,237114.000000,NaN,236999.750000,NaN,1.000000,2.000000,1.000000,NaN,NaN
50%,290856.000000,NaN,290850.000000,NaN,1.000000,4.000000,1.000000,NaN,NaN
75%,344873.750000,NaN,344677.250000,NaN,1.000000,7.000000,1.000000,NaN,NaN
max,386886.000000,NaN,386504.000000,NaN,23.000000,9.000000,23.000000,NaN,NaN